{% extends 'base.html.twig' %}

{% block title %}Mes Objectifs{% endblock %}

{% block body %}
    <h1>Mes Objectifs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Valide</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objectif in objectifs %}
            <tr>
                <td>{{ objectif.id }}</td>
                <td>{{ objectif.libelle }}</td>
                <td>{{ objectif.valide ? 'Yes' : 'No' }}</td>
                <td>
                    <button type="button" class="btn btn-primary"><a style="color:white;" href="{{ path('objectif_show', {'id': objectif.id}) }}">Voir</a></button>
                    <button type="button" class="btn btn-primary"><a style="color:white;" href="{{ path('objectif_edit', {'id': objectif.id}) }}">Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-success"><a style="color:white" href="{{ path('objectif_new') }}">Ajouter</a></button>
{% endblock %}
