{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
    <h1>Lesson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.libelle }}</td>
                <td>
                    <button type="button" class="btn btn-primary"><a style="color:white;" href="{{ path('lesson_show', {'id': lesson.id}) }}">show</a></button>
                    <button type="button" class="btn btn-secondary"><a style="color:white;" href="{{ path('lesson_edit', {'id': lesson.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-success"><a style="color:white;" href="{{ path('lesson_new') }}">Create new</a></button>
{% endblock %}
